{% liquid
  assign pt = block.settings.pt | prepend: 'pt-'
  assign pb = block.settings.pb | prepend: 'pb-'
  assign mt = block.settings.mt | prepend: 'mt-'
  assign mb = block.settings.mb | prepend: 'mb-'
%}

{% for block in section.blocks %}

  {% liquid
    case block.settings.trigger_link_image_orientation
      when 'square'
        assign img_width = 600
        assign img_height = 600
      when 'landscape'
        assign img_width = 600
        assign img_height = 480
      when 'potrait'
        assign img_width = 480
        assign img_height = 600
    endcase
  %}

  <!-- Button trigger modal -->
  {% if block.settings.modal_trigger_type == 'modal_trigger_button' %}
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#modal-{{ section.id }}">
      {{ block.settings.trigger_button_title }}
    </button>
  {% elsif block.settings.modal_trigger_type == 'modal_trigger_link' %}
    <a
      href="#"
      data-bs-toggle="modal"
      data-bs-target="#modal-{{ section.id }}"
      title="{{ block.settings.title }}">
      {% if block.settings.trigger_link_title %}
        {{ block.settings.trigger_link_title }}
      {% elsif block.settings.trigger_link_image %}
        <img
          class="img-fluid"
          src="{{ block.settings.trigger_link_image.src | image_url: width: img_width, height: img_height }}"
          alt="{{ block.settings.trigger_link_image.alt | escape }}"
          width="{{ img_width }}"
          height="{{ img_height }}"
          loading="lazy">
      {% endif %}
    </a>
  {% endif %}


  <!-- Modal -->
  <div
    class="modal fade"
    id="modal-{{ section.id }}"
    tabindex="-1"
    aria-labelledby="modal-{{ section.id }}"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          {% if block.settings.modal_header_title != blank %}
            <h5 class="modal-title">{{ block.settings.modal_header_title }}</h5>
          {% endif %}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">

          {% if block.settings.modal_title %}
            <h3 class="title mb-3 {{ block.settings.title_size }}">
              {{ block.settings.modal_title }}
            </h3>
          {% endif %}

          {% if block.settings.modal_body_content %}
            <div class="description rte mb-6">
              {{ block.settings.modal_body_content }}
            </div>
          {% endif %}


          {% if block.settings.modal_image %}
            <img
              class="img-fluid modal-content__image"
              src="{{ block.settings.modal_image.src | image_url: width: 600, height: 480 }}"
              alt="{{ block.settings.modal_image.alt | escape }}"
              width="600"
              height="480"
              loading="lazy">
          {% endif %}

          {% if block.settings.modal_link_button or block.settings.modal_link_url or block.settings.modal_link_text %}
            <a class="btn btn-md mb-5{% if block.settings.modal_link_button == true %} btn{% endif %}" href="{{ block.settings.modal_link_url }}">
              {{ block.settings.modal_link_text }}
            </a>
          {% endif %}

        </div>

      </div>
    </div>
  </div>
{% endfor %}


{% schema %}
  {
    "name": "Modal",
    "blocks": [
      {
        "type": "item",
        "name": "Modal Item",
        "settings": [
          {
            "type": "header",
            "content": "Modal Trigger"
          },
          {
            "type": "select",
            "id": "modal_trigger_type",
            "label": "Modal Trigger type",
            "info": "Choose between a Button or Link",
            "default": "modal_trigger_button",
            "options": [
              {
                "label": "Button",
                "value": "modal_trigger_button"
              },
              {
                "label": "Link",
                "value": "modal_trigger_link"
              }
            ]
          },
          {
            "type": "text",
            "id": "trigger_button_title",
            "label": "Modal Trigger Button"
          },
          {
            "type": "text",
            "id": "trigger_link_title",
            "label": "Modal Trigger Link"
          },
          {
            "type": "image_picker",
            "id": "trigger_link_image",
            "label": "Modal Trigger Image"
          },
          {
            "type": "select",
            "id": "trigger_link_image_orientation",
            "label": "Image orientation",
            "default": "landscape",
            "options": [
              {
                "value": "square",
                "label": "Square"
              },
              {
                "value": "landscape",
                "label": "Landscape"
              },
              {
                "value": "potrait",
                "label": "Potrait"
              }
            ]
          },
          {
            "type": "header",
            "content": "Modal Content Header"
          },
          {
            "type": "text",
            "id": "modal_header_title",
            "label": "Modal Header Title",
            "default": "Modal Header Title"
          },
          {
            "type": "header",
            "content": "Modal Content"
          },
          {
            "type": "text",
            "id": "modal_title",
            "label": "Modal Content Title",
            "default": "Modal Content Title"
          },
          {
            "type": "richtext",
            "id": "modal_body_content",
            "label": "Modal Body Content"
          },
          {
            "type": "image_picker",
            "id": "modal_image",
            "label": "Modal Content Image"
          },
          {
            "type": "url",
            "id": "modal_link_url",
            "label": "Modal Link URL"
          },
          {
            "type": "checkbox",
            "id": "modal_link_button",
            "label": "Use Modal Link as a Button",
            "info": "Check this if you want the provided URL to act as a button within the modal.",
            "default": false
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Modal",
        "category": "General",
        "blocks": [
          {
            "type": "item"
          }
        ]
      }
    ]
  }
{% endschema %}