{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
%}

<div class="container {{ pt }} {{ pb }}">
  <div class="tabs tabs--{{ section.settings.tab_orientation }}">

    <div class="tabs__dropdown dropdown d-md-none" id="customDropdown-{{ section.id }}">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="customDropdownMenu-{{ section.id }}"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        Select an option
      </button>
      <ul class="dropdown-menu" aria-labelledby="customDropdownMenu-{{ section.id }}">
        {% for block in section.blocks %}
          <li
            class="dropdown-item"
            data-toggle="custom-tab"
            data-target="#tab-{{ section.id }}-{{ forloop.index }}">
            {{ block.settings.tab_nav_pill_title }}
          </li>
        {% endfor %}
      </ul>
    </div>

    <ul
      class="nav nav-pills d-none d-md-flex"
      id="pills-tab-{{ section.id }}"
      role="tablist">
      {% for block in section.blocks %}
        <li class="nav-item" role="presentation">
          <button
            class="nav-link{% if forloop.index == 1 %} active{% endif %}"
            data-bs-toggle="tab"
            data-bs-target="#tab-{{ section.id }}-{{ forloop.index }}"
            type="button"
            role="tab"
            aria-controls="{{ section.title }}-{{ block.title }}"
            aria-selected="{% if forloop.index == 1 %}true{% else %}false{% endif %}">
            {{ block.settings.tab_nav_pill_title }}
          </button>
        </li>
      {% endfor %}
    </ul>

    <div class="tab-content" id="pills-tabContent-{{ section.id }}">
      {% for block in section.blocks %}
        <div
          class="tab-pane{% if forloop.index == 1 %} show active{% endif %}"
          id="tab-{{ section.id }}-{{ forloop.index }}"
          role="tabpanel"
          aria-labelledby="pills-{{ section.id }}-{{ forloop.index }}-tab">
          {% if block.settings.tab_content_title != blank %}
            <h5 class="tab-content__title">
              {{ block.settings.tab_content_title }}
            </h5>
          {% endif %}

          {% if block.settings.tab_content_body != empty %}
            <div class="tab-content__body">
              {{ block.settings.tab_content_body }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Tabs",
    "settings": [
      {
        "type": "header",
        "content": "Tab Orientation"
      },
      {
        "type": "select",
        "id": "tab_orientation",
        "label": "Select the Tab layout orientation",
        "default": "horizontal",
        "options": [
          {
            "value": "horizontal",
            "label": "Horizontal"
          },
          {
            "value": "vertical",
            "label": "Vertical"
          }
        ]
      },
      {
        "type": "header",
        "content": "Spacing"
      },
      {
        "type": "range",
        "id": "pt",
        "label": "Padding top",
        "min": 0,
        "max": 6,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "pb",
        "label": "Padding bottom",
        "min": 0,
        "max": 6,
        "step": 1,
        "default": 3
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Tab Item",
        "settings": [
          {
            "type": "header",
            "content": "Tab Nav Pill"
          },
          {
            "type": "text",
            "id": "tab_nav_pill_title",
            "label": "Tab Nav Pill Button",
            "default": "Tab Button"
          },
          {
            "type": "header",
            "content": "Tab Content"
          },
          {
            "type": "text",
            "id": "tab_content_title",
            "label": "Tab Content Title",
            "default": "Tab Content Title"
          },
          {
            "type": "richtext",
            "id": "tab_content_body",
            "label": "Tab Body Content"
          },
          {
            "type": "image_picker",
            "id": "tab_content_image",
            "label": "Tab Content Image"
          },
          {
            "type": "text",
            "id": "tab_link_text",
            "label": "Tab Link Text",
            "default": "Tab Link"
          },
          {
            "type": "url",
            "id": "tab_link_url",
            "label": "Tab Link URL"
          },
          {
            "type": "checkbox",
            "id": "tab_link_button",
            "label": "Use Tab Link as a Button",
            "info": "Check this if you want the provided URL to act as a button within the tab.",
            "default": false
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Tabs",
        "category": "General",
        "blocks": [
          {
            "type": "item"
          }
        ]
      }
    ]
  }
{% endschema %}