<div class="container">
  <div class="tabs tabs--{{ section.settings.tab_orientation }}">
    <div class="tabs__nav-container d-md-flex">
      <ul
        class="tabs__pills nav nav-pills d-none d-md-flex"
        id="pills-tab"
        role="tablist">
        {% for block in section.blocks %}
          <li class="nav-item" role="presentation">
            <button
              class="nav-link{% if forloop.index == 1 %} active{% endif %}"
              id="pills-{{ section.id }}-{{ forloop.index }}-tab"
              data-bs-toggle="pill"
              data-bs-target="#tab-{{ section.id }}-{{ forloop.index }}"
              type="button"
              role="tab"
              aria-controls="{{ section.title }}-{{ block.title }}"
              aria-selected="{% if forloop.index == 1 %}true{% else %}false{% endif %}">
              {{ block.settings.tab_nav_pill_title }}
            </button>
          </li>
        {% endfor %}
      </ul>
      <select class="tabs__select form-select d-md-none" id="tab-select">
        {% for block in section.blocks %}
          <option value="#tab-{{ section.id }}-{{ forloop.index }}">
            {{ block.settings.tab_nav_pill_title }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="tabs__content tab-content" id="pills-tabContent">
      {% for block in section.blocks %}
        <div
          class="tab-pane fade{% if forloop.index == 1 %} show active{% endif %}"
          id="tab-{{ section.id }}-{{ forloop.index }}"
          role="tabpanel"
          aria-labelledby="pills-{{ section.id }}-{{ forloop.index }}-tab">
          {% if block.settings.tab_content_title != blank %}
            <h5 class="tab-content__title">
              {{ block.settings.tab_content_title }}
            </h5>
          {% endif %}

          {% if block.settings.tab_content_body != empty %}
            <div class="tab-content__body">
              {{ block.settings.tab_content_body }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Tabs",
    "settings": [
      {
        "type": "header",
        "content": "Tab Orientation"
      },
      {
        "type": "select",
        "id": "tab_orientation",
        "label": "Select the Tab layout orientation",
        "default": "horizontal",
        "options": [
          {
            "value": "horizontal",
            "label": "Horizontal"
          },
          {
            "value": "vertical",
            "label": "Vertical"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Tab Item",
        "settings": [
          {
            "type": "header",
            "content": "Tab Nav Pill"
          },
          {
            "type": "text",
            "id": "tab_nav_pill_title",
            "label": "Tab Nav Pill Button",
            "default": "Tab Button"
          },
          {
            "type": "header",
            "content": "Tab Content"
          },
          {
            "type": "text",
            "id": "tab_content_title",
            "label": "Tab Content Title",
            "default": "Tab Content Title"
          },
          {
            "type": "richtext",
            "id": "tab_content_body",
            "label": "Tab Body Content"
          },
          {
            "type": "image_picker",
            "id": "tab_content_image",
            "label": "Tab Content Image"
          },
          {
            "type": "text",
            "id": "tab_link_text",
            "label": "Tab Link Text",
            "default": "Tab Link"
          },
          {
            "type": "url",
            "id": "tab_link_url",
            "label": "Tab Link URL"
          },
          {
            "type": "checkbox",
            "id": "tab_link_button",
            "label": "Use Tab Link as a Button",
            "info": "Check this if you want the provided URL to act as a button within the tab.",
            "default": false
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Tabs",
        "category": "General",
        "blocks": [
          {
            "type": "item"
          }
        ]
      }
    ]
  }
{% endschema %}